{% load static %}
<!doctype html>
<html lang="ko">
	<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>howto</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{%static 'nav.css' %}">
    </head>
	<body>
    <nav>
        <a class="font-color" href="/" >처음으로</a>
        <a class="font-color" href="/logout">로그아웃</a>
    </nav>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>How to?</h1>
					<button type="button" onclick="location.href='../select'" class="btn btn-success">자동 시간표 업로드</button>
					<button type="button" onclick="location.href='../excelfile'" class="btn btn-warning">시간표 엑셀파일 업로드</button>
                    <button type="button" onclick="location.href='../contest'" class="btn btn-danger">공모전 찾기</button>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>
</html>