{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{%static 'nav.css' %}">
<link rel="icon" type="image/png" href="{%static 'example.png'%}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
    <a class="font-color" href="/" >처음으로</a>
    <a class="font-color" href="/select" >다시선택하기</a>
    <a href="/logout" class="font-color">로그아웃</a>
    </nav>
    {% for p in select %}
    {{ p.friend_name }}님
    {% endfor %}
<img src="{% static 'example.png' %}" alt="공강시간 막대그래프">
</body>
</html>