{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{%static 'nav.css' %}">
<link rel="icon" type="image/png" href="{%static 'example.png'%}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center; font-family: 'EliceDigitalBaeum_Bold'">
    <nav>
    <a class="font-color" href="/" >처음으로</a>
    <a class="font-color" href="/select" >다시선택하기</a>
    <a href="/logout" class="font-color">로그아웃</a>
    </nav>
    <div>
    {% for name in select %}
        [{{ name }}님]
    {% endfor %}
    의 공통된 공강 시간입니다.
    </div>
    <img src="{% static 'example.png' %}" alt="공강시간 막대그래프">
</body>
</html>