nav {
  height: 75px;
  padding: 1rem;
  color: white;
  background: indianred;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font-color{
    color: white;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}